html {
    height: 100%;
    width: 100%;
  }
  
  header {
  
    position: absolute;
    width: 1920px;
    height: 82px;
    left: 0px;
    top: 0px;
    background: #078EBA;
  
  }
  
  body{
    
  position: relative;
  width: 1920px;
  height: 2225px;
  
  background: #FFFFFF;
    
  }