.navbar-brand {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */


  color: #FFFFFF;
}

.BannerTop {
  position: absolute;
  width: 1920px;
  height: 82px;
  left: 0px;
  top: 0px;

  /* Main */

  background: #078eba;
}

header {
  position: absolute;
  width: 1920px;
  height: 217px;
  left: 0px;
  top: 0px;
}

.Menu {
  position: absolute;
  width: 1920px;
  height: 135px;
  left: 0px;
  top: 82px;

  font-family: "Kanit";
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.Language {
  position: absolute;
  height: 40px;
  width: 78px;
  left: 1377px;
  right: 465px;
  top: 48px;

  border: 1px solid #078EBA;
  border-radius: 3px;


}

body {
  position: relative;
  width: 1920px;
  height: 7532px;

  background: #ffffff;
}

.Banner {
  position: absolute;
  width: 1920px;
  height: 622px;
  left: 0px;
  top: 218px;
}

.rec {
  position: absolute;
  width: 568px;
  height: 568px;
  left: 380px;
  top: 938px;

  background: url(pic1.jpg);
  border-radius: 30px;
}

.recc {
  box-sizing: border-box;

  position: absolute;
  width: 389px;
  height: 389px;
  left: 273px;
  top: 1219px;

  background: url(pic2.png);

}

.about {
  position: absolute;
  width: 693px;
  height: 557px;
  left: 1030px;
  top: 949px;
}